* {
   box-sizing: border-box;
}
.sel{
    background-color: rgba(57, 57, 57, 0.7);
    margin: 20px 20px 20px 20px;
    color: rgb(255,234,171);
    width: 300px;
    height: 140px;
    padding: 10px 15px 22px 18px;
    font-weight: bold
}
#selector {
    width: 600px;
    margin: 20px 20px 20px 20px;
}
body {
    font-family:Verdana;
    /*background-color:#393939; */
    margin: 0; 
    padding: 0;
}
.non {
    background-color: rgba(255, 255, 255, 0.0);
    width: 15%;
    float: left;
}
.menu {
    background-color: #ffffff;
    width: 100%;
    float: left;
    min-height: 700px;
    background-image: none;
    background: url("/images/okna01.jpg") center center / cover no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main{
	/*width: 50%;*/
	margin: 15px auto;
	position: relative;
	display: flex;
    justify-content:center;
    align-items:center;
    /*flex-direction: column;*/
    flex-wrap: wrap;/*nowrap*/ 
}    
.head {
    background-color:#393939;
    padding:15px;
    text-indent: 8%;
    text-align:left;
    color: rgb(255,234,171);
    cursor: default;
}
    
.footer{
    background-color:#393939;
    text-align:center;
    padding:30px;
    margin-top:7px;
    color: rgb(255,234,171);
    cursor: default;
}
.ufa, .oth {
    /*float: left;*/
   width: 480px;
   text-align: center;
   margin: 20px 20px 20px 20px;
   /*margin: 0 auto;*/
   border-bottom: 2px solid #F5F5F5;
   background: white;
   font-family: "Open Sans";
   transition: .3s ease-in;
}
.ufa:hover, .oth:hover {
   border-bottom: 2px solid #fc5a5a;
}
.ufa img, .oth img{
   /*display: block;
   width: 100%;*/
    object-fit: cover;
    width: 480px;
    height: 320px;
}
.product-list {
   background: #fafafa;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.opener {
    border-color: rgba(0, 0, 0, 0.0);;
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.ufa:hover .opener, .oth:hover .opener {
   background: #fc5a5a;
}/*
@media only screen and (max-width:860px) {
    .main {
        width: 100%;
    }
    .ufa, .oth, #selector  {
   width: 300px;
   margin: 10px 10px 10px 10px;
   /*margin: 0 auto;*/
/*
}

.ufa img, .oth img{
   /*display: block;
   width: 100%;*//*
    object-fit: cover;
    width: 300px;
    height: 400px;
}
}/*
/*
    
img{
    object-fit: cover;
    width: 200px;
    height: 200px;
}
.s{
    width: 250px;
    height: 400px;
}
#datepicker, table.ui-datepicker-calendar thead tr th{
    font-size : 8pt;
}
.block {
    display: none;
    margin: 10px;
    padding: 10px;
    border: 2px solid orange;
}*/